.colorbody{
   background-image: url("../img/fundo.jpg");
    background-color: purple;
}

.colorcontainer{
    background-color: black;
}

.alinhamentodostextos{
    text-align: left;
}
/*Padding dos objetos da pagina*/
.paddingelements{
    padding: 10px;
}

.alinhamentobtn{
    align-items: center;
}
.background-color{

    background-color: coral;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  