.colorbody{
    background-color: grey;
}

.colorcontainer{
    background-color: white;
}

.alinhamentodostextos{
    text-align: left;
}
/*Padding dos objetos da pagina*/
.paddingelements{
    padding: 10px;
}

.alinhamentobtn{
    align-items: center;
}